@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0:  #c5ebd6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #064d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', Arial;
    --font-android: 'idroid', Arial;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}
a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, #2fa866, #064d1e);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1 {
    color: white;
    font-family:var(--font-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);
}
header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);
}
nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205);
}
nav > a {
    color: var(--cor01);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
}
nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1 {
    color: var(--cor05);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2 {
    font-family: var(--font-android);
    color: var(--cor04);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, rgba(79, 206, 132, 0.651), transparent);
    text-indent: 7px;
}
main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong {
    color: var(--cor04);
    font-weight: bold;
    padding: 2px 6px;
}
main a {
    background-color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor04);

}
main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video {
    background-color: var(--cor05);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57.5%;

    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
aside h3 {
    background-color: var(--cor04);
    color: white;
    padding: 5px;
    margin: -10px -10px -0px -10px;
    border-radius: 5px 5px 0px 0px;
}
aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style: none;
}
footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor01);
}


   